<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="shoebenefit">
  <div class="section-icons">

    <h3 class="Heading">{{section.settings.headline}}</h3>
    <h5 class="Heading">{{section.settings.subline}}</h5>

    <div class="container no-style w-container">
       
        <div class="section-icons__block">
            
                
                <div class="icon-image__block">
                    <img class="section-icons__icon  blur-up lazyloaded" src="{{ section.settings.imagesupport1 | img_url: 'master' }}" alt="{{ section.settings.imagesupport1 }}" width="120" height="120" />
                    <div class="section-icons__text">

                        <span class="section-icons-heading">
                            {{section.settings.headline1}}
                        </span>
                        <span class="section-icons-description">
                            {{section.settings.text1}}
                      </span>
                    </div>
                </div>

                <div class="icon-image__block">
                    <img class="section-icons__icon  blur-up lazyloaded" src="{{ section.settings.imagesupport1 | img_url: 'master' }}" alt="{{ section.settings.imagesupport1 }}" width="120" height="120" />
                    <div class="section-icons__text">

                        <span class="section-icons-heading">
                            {{section.settings.headline1}}
                        </span>
                        <span class="section-icons-description">
                            {{section.settings.text1}}
                      </span>
                    </div>
                </div>

                <div class="icon-image__block">
                    <img class="section-icons__icon  blur-up lazyloaded" src="{{ section.settings.imagesupport1 | img_url: 'master' }}" alt="{{ section.settings.imagesupport1 }}" width="120" height="120" />
                    <div class="section-icons__text">

                        <span class="section-icons-heading">
                            {{section.settings.headline1}}
                        </span>
                        <span class="section-icons-description">
                            {{section.settings.text1}}
                      </span>
                    </div>
                </div>

                <div class="icon-image__block">
                    <img class="section-icons__icon  blur-up lazyloaded" src="{{ section.settings.imagesupport1 | img_url: 'master' }}" alt="{{ section.settings.imagesupport1 }}" width="120" height="120" />
                    <div class="section-icons__text">

                        <span class="section-icons-heading">
                            {{section.settings.headline1}}
                        </span>
                        <span class="section-icons-description">
                            {{section.settings.text1}}
                      </span>
                    </div>
                </div>
                
            
                
            
        </div>
        
        <div class="btn-wrapper">
            <a href="{{section.settings.helplink | url}}" class="Button Button--primary">
                {{section.settings.btntext}}
            </a>
        </div>
        
    </div>
</div>
</section>

<style>

</style>


{% schema %}
{
  "name": "SK - Benefits",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Headline"
    },
	{
      "type": "text",
      "id": "subline",
      "label": "Subline",
      "default": "Subline"
    },
	{
      "type": "text",
      "id": "pictext",
      "label": "Text",
      "default": "Text"
    },
    {
        "type": "image_picker",
        "id": "imagesupport1",
        "label": "Bild1",
        "info": "120 x 120px .jpg recommended"
      },
      {
        "type": "text",
        "id": "headline1",
        "label": "Headline1",
        "default": "Headline1"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "text1",
        "default": "text1"
      },
	{
      "type": "text",
      "id": "btntext",
      "label": "Button Text",
      "default": "Text"
    },
	{
      "type": "text",
      "id": "helplink",
      "label": "Link URL",
      "default": "mailto:hallo@fundw.net"
    }
  ],
  "presets": [{
    "name": "SK - Benefits",
    "category": "Custom"
  }]
}
{% endschema %}