<div class="fw_customer__container fw_customer"  {% if section.settings.background %}style="background:{{ section.settings.background}};"{% endif %}>
    <div class="fw_customer__image">
        <img class="" src="{{ section.settings.imagesupport | img_url: 'master' }}" alt="{{ section.settings.imagesupport }}" width="20" height="20" />
    </div>
    <p class="fw_customer__text"><b>{{section.settings.textName}}</b> {{section.settings.textUnd}} <b>{{section.settings.textAnzahl}}</b> {{section.settings.TextAbschluss}}</p>
</div>

<style>
    .fw_customer {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f5;
    }
    
    .fw_customer__image {
        display: flex;
        margin-right: 4px;
    }
    
    .fw_customer__text {
        width: fit-content;
        color: #1d1d1f;
        font-size: 10px;
        font-weight: 500;
        line-height: 11px;
        text-align: left;
    }
    
    .fw_customer__image img {
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }
    
    .fw_customer__image img:nth-child(2) {
        position: relative;
        left: -5px;
    }
</style>

{% schema %}
{
  "name": "SK - customerCount",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#f4f4f5"
    },
	{
      "type": "image_picker",
      "id": "imagesupport",
      "label": "Bild",
      "info": "20 x 20px .jpg recommended"
    },
    {
      "type": "text",
      "id": "textName",
      "label": "Name von Kunden",
      "default": "Emma K."
    },
    {
        "type": "text",
        "id": "textUnd",
        "label": "und",
        "default": "und"
      },
	{
      "type": "text",
      "id": "textAnzahl",
      "label": "Anzahl von Kunden",
      "default": "25.500+ andere Personen"
    },
	{
      "type": "text",
      "id": "TextAbschluss",
      "label": "Ende des Satzes",
      "default": "lieben unsere Produkte"
    }
  ],
  "presets": [{
    "name": "SK - customerCount",
    "category": "Custom"
  }]
}
{% endschema %}