
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<section {% if section.settings.background %}style="background:{{ section.settings.background}};"{% endif %} id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="transparency-questions">

<div class="faq">
      <h1 class="page-title">{{section.settings.headline}}</h1>
  	  <p style="text-align:center;">{{section.settings.subline}}</p>
      <div id="tab-faq-1" class="faq-section open">
        <div class="faq-section--title-wrapper"><h2 class="faq-section--title">{{section.settings.faqHeadline}}</h2>
        </div>
        <ul>
          <li>
            <div class="faq-section--item-title">
              {{section.settings.Frage1}}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 451.847"><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" data-original="#000000" class="active-path" data-old_color="#759eb7" fill="#759eb7"></path></svg></div>
            <div class="faq-section--item-desc">
              
              <p style="line-height: 1.65;">{{section.settings.Antwort1}}</p>
              
            </div>
          </li>
          <li>
            <div class="faq-section--item-title">
              {{section.settings.Frage2}}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 451.847"><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" data-original="#000000" class="active-path" data-old_color="#759eb7" fill="#759eb7"></path></svg></div>
            <div class="faq-section--item-desc">
              
              <p style="line-height: 1.65;">{{section.settings.Antwort2}}</p>
              
            </div>
          </li>
          <li>
            <div class="faq-section--item-title">
              {{section.settings.Frage3}}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 451.847"><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" data-original="#000000" class="active-path" data-old_color="#759eb7" fill="#759eb7"></path></svg></div>
            <div class="faq-section--item-desc">
             	
              <p style="line-height: 1.65;">{{section.settings.Antwort3}}</p>
              
            </div>
          </li>
          <li>
            <div class="faq-section--item-title">
              {{section.settings.Frage4}}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 451.847"><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" data-original="#000000" class="active-path" data-old_color="#759eb7" fill="#759eb7"></path></svg></div>
            <div class="faq-section--item-desc">
              
              <p style="line-height: 1.65;">{{section.settings.Antwort4}}</p>
              
            </div>
          </li>
          <li>
            <div class="faq-section--item-title">
              {{section.settings.Frage5}}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 451.847"><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" data-original="#000000" class="active-path" data-old_color="#759eb7" fill="#759eb7"></path></svg></div>
            <div class="faq-section--item-desc">
              
              <p style="line-height: 1.65;">{{section.settings.Antwort5}}</p>
              
            </div>
          </li>
        </ul>
      </div>
  
  <div class="btn-wrapper center">
            <a href="{{section.settings.btnlink | url}}" class="Button Button--primary">
              {{section.settings.btntext}}
            </a>
        </div>
  
    </div>

</section>




<script>
  document.addEventListener("DOMContentLoaded", function(event) {
   /*
    jQuery('.faq-section > .faq-section--title-wrapper').click(function() {
      jQuery(this).parent().toggleClass('open');
    });
*/
    jQuery('.faq-section--item-title').click(function() {
      jQuery(this).parent().toggleClass('open');
    });
  });
</script>


{% schema %}
{
  "name": "SK - FAQ",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#efefef"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Eure Fragen, unsere Antworten:"
    },
    {
      "type": "text",
      "id": "subline",
      "label": "Subline",
      "default": "Uns ist es sehr wichtig, vorallem kritische Fragen ehrlich zu beantworten. Aus diesem Grund findest du folgend eure häufigsten und kritischsten Fragen zu unserem Unternehmen."
    },
    {
      "type": "text",
      "id": "faqHeadline",
      "label": "faqHeadline",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Frage1",
      "label": "Frage 1",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Antwort1",
      "label": "Antwort 1",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Frage2",
      "label": "Frage 2",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Antwort2",
      "label": "Antwort 2",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Frage3",
      "label": "Frage 3",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Antwort3",
      "label": "Antwort 3",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Frage4",
      "label": "Frage 4",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Antwort4",
      "label": "Antwort 4",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Frage5",
      "label": "Frage 5",
      "default": "Text"
    },
    {
      "type": "text",
      "id": "Antwort5",
      "label": "Antwort 5",
      "default": "Text"
    },


    {
      "type": "text",
      "id": "btntext",
      "label": "Button Text",
      "default": "Weitere Fragen anzeigen"
    },
    {
      "type": "text",
      "id": "btnlink",
      "label": "Button Link",
      "default": "\/pages\/contact"
    }
  ],
  "presets": [{
    "name": "SK - FAQ",
    "category": "Custom"
  }]
}
{% endschema %}
