
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="shop-properties">
  <div class="shopProperties Container">
      <div class="shopProperties__Wrapper">
          <div class="shopProperty">
            <i class="fa-solid fa-truck-fast fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-1 }}</h4>
              <p>{{ section.settings.subheader-1 }}</p>
            </span>
          </div>
          <div class="shopProperty">
            <i class="fa-solid fa-badge-check fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-2 }}</h4>
              <p>{{ section.settings.subheader-2 }}</p>
            </span>
          </div>
          <div class="shopProperty">
            <i class="fa-solid fa-arrow-rotate-left fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-3 }}</h4>
              <p>{{ section.settings.subheader-3 }}</p>
            </span>
          </div>
          <div class="shopProperty">
            <i class="fa-solid fa-thumbs-up fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-4 }}</h4>
              <p>{{ section.settings.subheader-4 }}</p>
            </span>
          </div>
        </div>
      </div>
  </div>
</section>


<style>
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    color: {{ section.settings.text_color }};
  }

  .shopProperty > i {
  margin-right:15px;
}

  .shopProperty h4 {
    color: {{ section.settings.text_color }};
  }
  .shopProperty svg {
    fill: {{ section.settings.badge_color }};
    height: 48px;
    width: 48px;
    margin-right: 32px;
    display: block;
  }
</style>

{% schema %}
{
  "name": "SK - ShopProperties",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
    "type": "color",
    "id": "badge_color",
    "label": "Badge Icon Color",
    "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "subheader_1",
      "label": "Subheader #1",
      "default": "Subline"
    },
    {
      "type": "text",
      "id": "headline-1",
      "label": "Headline #1",
      "default": "Headline"
    },
    {
      "type": "text",
      "id": "subheader_2",
      "label": "Subheader #2",
      "default": "Subline"
    },
    {
      "type": "text",
      "id": "headline-2",
      "label": "Headline #2",
      "default": "Headline"
    },
    {
      "type": "text",
      "id": "subheader_3",
      "label": "Subheader #3",
      "default": "Subline"
    },
    {
      "type": "text",
      "id": "headline-3",
      "label": "Subheader #3",
      "default": "Headline"
    },
    {
      "type": "text",
      "id": "subheader_4",
      "label": "Subheader #4",
      "default": "Subline"
    },
    {
      "type": "text",
      "id": "headline-4",
      "label": "Headline #4",
      "default": "Headline"
    }
  ],
  "presets": [{
    "name": "SK - ShopProperties",
    "category": "Custom"
  }]
}
{% endschema %}